body {
    background-color: #34495e;
    font-family: Arial, sans-serif;
    margin: 0.6rem;
    padding: 0;
}

h2 {
  text-align: center;
  color: #ffffff;
}

p {
  margin-top: 0.6rem;
  text-align: center;
  color: #ffffff;
}

a {
  color: #e67e22;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="text"],
form input[type="password"] {
  border: none;
  width: 25rem;
  height: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.75rem;
  border-radius: 0.18rem;
  text-align: left;
}

form button[type="submit"] {
  border: none;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 10rem;
  height: 2rem;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 0.18rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
