body {
    background-color: #34495e;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
  }
  
  .top-bar {
    background-color: #3498db;
    padding: 10px;
  }
  
  .top-bar h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
  }
  
  .RegisterContainer {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: #3498db;
    border-radius: 5px;
    margin-top: 10%;
  }
  
  .RegisterContainer h2 {
    width: 42%;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30%;
    text-align: center;
    background-color: #3498db;
    color: #ffffff;
  }
  
  .RegisterContainer input[type="text"],
  .RegisterContainer input[type="password"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    text-align: center;
    margin-left: 30%;
  }
  
  .RegisterContainer button {
    width: 42%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 30%;
  }
  
  .RegisterContainer p {
    margin-top: 10px;
    text-align: center;
  }
  
  .RegisterContainer a {
    color: #e67e22;
  }
  