<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Adoption</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
  <header-in-component></header-in-component>
  <main class="container">
    <section id="top-bar" class="row">
      <h1>Adopt a new pet</h1>
    </section>
    <hr />
    <section id="top-bar" class="row">
      <h1>Basic info</h1>
    </section>
    <article class="con1">
      <section></section>
      <form id="adoptForm">
        <i class="fas fa-sync-alt" id="RefreshButton" style="font-size: 36px;"></i>
        <section class="inputSection">
          <label for="name">Name</label>
          <input type="text" id="nameInput" name="user_name" readonly />
        </section>
        <section class="inputSection">
          <label for="Type" id="typeLbl">Type</label>
          <input name="user_mail" id="typeInput" readonly />
        </section>
        <section class="inputSection">
          <label for="type" id="traitLbl">Trait</label>
          <input name="Trait" id="traitInput" readonly />
        </section>
        <figure class="image">
          <img id="petImage" alt="pet picture" />
        </figure>
      </form>
      <section class="formButton">
        <button class="Adoptbutton">
          Adopt a new pet
        </button>
      </section>
    </article>
  </main>
  <script src="js/adopt.js" defer></script>

</body>

</html>