<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adoption</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="container">
      <section id="top-bar" class="row">
        <h1>Adopt a new pet</h1>
      </section>
      <hr />
      <section id="top-bar" class="row">
        <h1>Basic info</h1>
      </section>

      <div class="con1">
        <section></section>
        <form id="adoptForm" method="post">
          <section class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="user_name" required />
          </section>

          <section class="input">
            <label for="Type">Type</label>
            <input name="user_mail" id="Type" />
          </section>
          <section class="input">
            <label for="type">Trait</label>
            <input name="Trait" id="type" required pattern="banana|cherry" />
          </section>
          <figure class="image">
            <img src="https://picsum.photos/400" alt="pet picture" />
          </figure>
        </form>

        <section class="formButton">
          <button class="button" type="submit" form="adoptForm">
            Adopt a new pet
          </button>
        </section>
      </div>
    </main>
  </body>
</html>
