<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Model</title>
</head>
<body>
<!-- <div class="loading" id="js-loader"><div class="loader"></div></div> -->
<div class="wrapper">
    <!-- The canvas element is used to draw the 3D scene -->
<canvas id="canvas"></canvas>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/mrdoob/Three.js@r92/examples/js/loaders/GLTFLoader.js"></script>

<script src="js/renderModel.js"></script>

</body>
</html>



