<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="/public/css/main.css" />
  <script src="js/header.js" defer></script>
  <script src="js/dashboard.js" defer></script>
</head>

<body>
  <header-in-component></header-in-component>
  <div class="container">
    <section id="top-bar" class="row">
      <h1>View all existing pets</h1>
      <button type="button" id="selectBtn">Adopt pet with id = 4</button>

    </section>
    <section id="pet-actions" class="row">
      <h2>Navigate to another page:</h2>
      <ul>
        <li><a href="/index">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/adopt">Adopt a pet</a></li>
        <li><a href="/viewPet">Play</a></li>
      </ul>
    </section>
  </div>
</body>

</html>