<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/header.js" defer></script>
    <script
      src="https://kit.fontawesome.com/5692417368.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header-in-component></header-in-component>
    <section class="card">
      <img class="card-img" src="img/PetLogo.png" />
      <section class="lower-card">
        <h2 class="pet-name">Harry</h2>
        <button class="card-button">
          <i class="fa-solid fa-trash icon-style"></i>
        </button>
        <button class="card-button">
          <i class="fa-regular fa-circle-play icon-style"></i>
        </button>
      </section>
    </section>
  </body>
</html>
