<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/header.js" defer></script>
    <script src="js/dashboard.js" defer></script>
    <script
      src="https://kit.fontawesome.com/5692417368.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header-in-component></header-in-component>
    <section id="cardLayout" class="card-layout"></section>
  </body>
</html>
