<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="container">
        <section id="top-bar" class="row">
            <h1>Welcome to your virtual pet!</h1>
        </section>
        <section id="pet-view" class="row">
            <img src="img/Dog1.png" alt="pet">
        </section>
        <section id="pet-stats" class="row">
            <h2>Stats for ___:</h2>
            <ul>
                <li>Hunger:</li>
                <li>Thirst:</li>
                <li>Boredom:</li>
                <li>Tiredness:</li>
                <li>Age:</li>
            </ul>
        </section>
        <section id="pet-actions" class="row">
            <h2>What would you like to do?</h2>
            <ul>
                <li><a href="/feed">Give foods</a></li>
                <li><a href="/play">Play with your pet</a></li>
                <li><a href="/sleep">Put your pet to sleep</a></li>
            </ul>
        </section>
    </div>
</body>

</html>