<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="css/forms.css">
  <script src="js/login.js" defer></script>
</head>

<body>
  <section class="container">
    <form id="loginForm">
      <span id="error" name="error"></span>
      <h2>Login</h2>
      <input type="text" id="username" name="username" placeholder="Username">
      <input type="password" id="password" name="password" placeholder="Password">
      <button id="button" type="submit">Login</button>
      <p>Don't have an account? <a href="/register">Register</a></p>
    </form>

  </section>
</body>

</html>