<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="css/main.css" />

    <!-- import actions script -->
    <script src="js/petActions.js"></script>
    <script src="js/header.js" defer></script>
  </head>

  <body>
    <header-in-component></header-in-component>
    <div class="container">
      <section id="top-bar" class="row">
        <h1>Welcome to your virtual pet!</h1>
      </section>
      <section id="pet-view" class="row">
        <img src="img/Dog1.png" alt="pet" />
      </section>
      <section id="pet-stats" class="row">
        <h2>Stats for ___:</h2>
        <ul>
          <li>Hunger:</li>
          <li>Thirst:</li>
          <li>Boredom:</li>
          <li>Tiredness:</li>
          <li>Age:</li>
        </ul>
      </section>
      <section id="pet-actions" class="row">
        <h2>Actions for api testing purposes</h2>
        <button onclick="feed()">Feed</button>
        <button onclick="giveWater()">Give water</button>
        <button onclick="giveAttention()">Pet</button>
        <button onclick="giveMedicine()">Give medicine</button>
        <button onclick="bath()">Bath</button>
        <button onclick="giveTreat()">Give treat</button>
        <button onclick="giveToy()">Give toy</button>
        <button onclick="sleep()">Put to bed</button>
      </section>
      <section id="navigation" class="row">
        <h2>Navigate to another page:</h2>
        <ul>
          <li><a href="/index">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/adopt">Adopt a pet</a></li>
        </ul>
      </section>
    </div>
  </body>
</html>
