<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="container">
        <section id="top-bar" class="row">
            <h1>Welcome to your virtual pet!</h1>
        </section>
        <section id="pet-view" class="row">
            <img src="img/Dog1.png" alt="pet">
        </section>
        <section id="pet-stats" class="row">
            <h2>Stats for ___:</h2>
            <ul>
                <li>Hunger:</li>
                <li>Thirst:</li>
                <li>Boredom:</li>
                <li>Tiredness:</li>
                <li>Age:</li>
            </ul>
        </section>
        <section id="pet-actions" class="row">
            <h2>Navigate to another page:</h2>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/adopt">Adopt a pet</a></li>
            </ul>
        </section>
    </div>
</body>

</html>