<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Register Page</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/Styling.css">
        <script src="js/header.js" defer></script>
    </head>
    <body>          
          <container class="RegisterContainer">
            <h2>Register</h2>
            <form>
              <input type="text" placeholder="Username" required>
              <input type="password" placeholder="Password" required>
              <input type="password" placeholder="Confirm Password" required>
              <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="index.html">Login</a></p>
          </container>
        
    </body>
</html>