<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <link rel="stylesheet" type="text/css" href="Styling.css">
    </head>
    <body>
        <header class="top-bar">
            <h1>Register Page</h1>
          </header>
          
          <container class="RegisterContainer">
            <h2>Register</h2>
            <form>
              <input type="text" placeholder="Username" required>
              <input type="password" placeholder="Password" required>
              <input type="password" placeholder="Confirm Password" required>
              <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="index.html">Login</a></p>
          </container>
        
    </body>
</html>